/* @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-size: 125%;
    line-height: 1.45;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    max-width: 80%;
    margin: 0 auto;
}

/* ---- from typography.js ---- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
    /* margin-top: 0; */
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    /* margin-bottom: 1.45rem; */
    /* color: hsla(0, 0%, 0%, 0.9); */
    font-weight: 600;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-top: 2.175rem;
    margin-bottom: 0.725rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.51572rem;
}

h3 {
    font-size: 1.31951rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.87055rem;
}

h6 {
    font-size: 0.81225rem;
}

a {
    text-shadow: none;
    text-decoration: none;
    /* Light theme */
    color: #1d048d;
    /* dark theme */
    /* color: #BC9CB0; */
}

a:hover {
    color: #1ca086;
}

:root {
    --primary: #393424;
    --main-accent: #1d048d;
    --secondary-accent: #2eff00;
}

img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}


/** end of typography.js **/


/**** theming ***/

 .dark {
    background-color: #2a2b2d;
    color: white;
    transition: all 0.6s ease;
}

.light {
    background-color: white;
    color: #393424;
    transition: all 0.6s ease;
} 

.theme-switch {
    cursor: pointer;
    border: none;
    background: none;
}



