/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

h1, h2, h3, h4, a {
  font-family: 'Exo', Arial, Helvetica, sans-serif;
}

/* use viewport-relative units to cover page fully */
body {
  /* height: 100vh; */
  /* width: 100vw; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 400; */
  /* font-size: 16px; */
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

:root {
  --primary: #393424;
  --main-accent: #1d048d;
  --secondary-accent: #2eff00;
}

body {
  color: var(--primary);
}

main {
  margin-top: 2rem;
}

/* CUSTOM STYLES */

a {
  text-decoration: none;
  color: var(--main-accent);
  /* font-size: 1rem; */
}

a:hover {
  /* text-decoration: underline; */
  color: var(--secondary-accent);
}

h1 {
  /* font-size: 6vw; */
}

p {
  line-height: 2rem;
  font-size: 1rem;
  /* font-size: 4vw; */
}
